{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}{{ user.username }} {% endblock %}
{% block content %}
    <form action="" method="post" class="w-50 mx-auto my-5">
    {% csrf_token %}
        <div class="mb-3">
            <lable class="my-2 text-uppercase form-label " for="email">email:</lable>
         <input id="email" name="email" placeholder="email" type="text" value="{{ user.email }}" class="form-control" >
        </div>
         <div class="mb-3">
            <lable class="my-2 text-uppercase form-label " for="first_name">First name:</lable>
         <input id="first_name" name="first_name" placeholder="first_name" type="text" value="{{ user.first_name }}" class="form-control" >
        </div>
         <div class="mb-3">
            <lable class="my-2 text-uppercase form-label " for="email">last name:</lable>
         <input id="last_name" name="last_name" placeholder="last_name" type="text" value="{{ user.last_name }}" class="form-control" >
        </div>
         <div class="mb-3">
            <lable class="my-2 text-uppercase form-label " for="email">password</lable>
         <input id="password" name="password" placeholder="password" type="password"  class="form-control" >
        </div>
        <input type="submit" class="d-block shadow-lg btn text-light px-5 py-2 mx-auto my-5 bg-danger"  value="edit">

    </form>
    <p class="text-center m-3 p-4"></p>
{% endblock %}