{% extends 'layout/layout.html' %}
{% load static %}

{% block content %}

<main id="main">

	{% if user.is_authenticated   %}
        <div class="container">
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">

				{% for post in object_list  %}
                    <article class="post">
					<header class="entry-header">
						<div class="entry-meta">
							<span class="posted-on"><time class="entry-date published" date="2013-09-27">{{ post.date }}</time></span>
						</div>
						<h1 class="entry-title"><a href="/articles/{{ post.id }}" rel="bookmark">{{ post.title }}</a></h1>
					</header>
					<div class="entry-content">
						<p>{{ post.paragraph }}</p>
					</div>
				</article>
                {% endfor %}


			</div>
		</div>

		<div class="d-flex justify-content-center">
			<ul class="pagination ">

        {% if page_obj.has_previous %}
            <li><a href="?page=1">&laquo; first</a></li>
            <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
        {% endif %}
      <li>
            <a class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </a>
      </li>

       {% if page_obj.has_next %}
           <li> <a href="?page={{ page_obj.next_page_number }}">next</a></li>
           <li> <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}

			</ul>
		</div>

	</div>	<!-- /container -->
        {% else %}<h1 class="d-block w-75 p-3 my-4 text-center bg-dark mx-auto text-danger display-3">please login to your accounte</h1>
{% endif %}

</main>

{% endblock %}
