{% extends 'layout/layout.html' %}
{% block title %}{{  article.title }} {% endblock %}
{% load static %}

{% block content %}

<main id="main">

	<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-capitalize" aria-current="page"><a href="/">Home</a></li>
        <li class="breadcrumb-item text-capitalize" aria-current="page"><a href="/articles">articles</a></li>
        <li class="breadcrumb-item text-capitalize" aria-current="page"><a href="search?q={{ article.catagorize.catagorizes }}">{{ article.catagorize.catagorizes }}</a></li>
        <li class="breadcrumb-item  active " aria-current="page"><a href="{{ article.id }}">{{ article.title }}</a></li>
      </ol>
    </nav>
		<div class="row topspace">
			<div class="col-sm-8 col-sm-offset-2">

 				<article class="post">
					<header class="entry-header">
 						<div class="entry-meta">
 							<span class="posted-on"><time class="entry-date published" date="2013-06-17">{{ article.time }}</time></span>
 						</div>
 						<h1 class="entry-title"><a href="single.html" class="fw-bolder" rel="bookmark">{{ article.title }}</a></h1>
					</header>
					<div class="entry-content">
                        {% for p in all_text %}
                             {% if p.title %}<h2>{{ p.title }}</h2>{% endif %}
                            <p>{{ p.text }}</p>
                        {% endfor %}
					</div>
				</article><!-- #post-## -->

			</div>
		</div> <!-- /row post  -->
  <h3 class="text-uppercase  m-3 text-center">tags</h3>

  <div class="d-flex flex-wrap w-100 p-4 border my-3">
      {% for tag in all_tags %}
               <a href="search?q={{ tag.tag }}" class="btn text-secondary m-3 px-4 py-1 bg-light">{{ tag.tag }}</a>
      {% endfor %}
  </div>
  <h3 class="text-uppercase  m-5 text-center">similar articles</h3>
       <div class="row  border">
          {% for card in similar_articles %}
               <div class="col-sm-6 col-md-3 border border-end">
                    <h3 class="text-center">{{ card.title }}</h3>
                    <p>{{ card.paragraph }}</p>
                    <p>{{ card.date|timesince }}</p>
                    <p class="text-center"><a href="{{ card.id }}" class="btn btn-action">Read more</a></p>
                </div>
         {% endfor %}
	   </div>	<!-- /container -->
    </div>
	<div class="row my-5">
			<div class="col-sm-8 col-sm-offset-2">

				<div id="comments">
					<h3 class="comments-title  my-4">{{ all_comments.count }} Comments</h3>

					<ol class="comments-list">
						<li class="comment">
							<div>
                                {% for comment in all_comments %}
                                    <div class="comment-meta">
									<span class="author"><a href="#">{{ comment.username  }}</a></span>
									<span class="date"><a href="#">{{ comment.time }}</a></span>
									<span class="reply"><a href="#">Reply</a></span>
								</div>

								<div class="comment-body">
								{{ comment.text }}
								</div>
                                {% endfor %}

							</div>


						</li>


					</ol>

					<div class="clearfix"></div>

					<nav id="comment-nav-below" class="comment-navigation clearfix" role="navigation"><div class="nav-content">
							<div class="nav-previous">&larr; Older Comments</div>
							<div class="nav-next">Newer Comments &rarr;</div>
					</div></nav><!-- #comment-nav-below -->


					{% if user.is_authenticated %}
                        <div id="respond ">
						    <h3 id="reply-title">Leave a Reply</h3>
						    <form action="" method="post" id="commentform" class="">
                           {% csrf_token %}

							<div class="form-group">
								<label for="inputComment">Comment</label>
								<textarea class="form-control" rows="6" name="text_comment"></textarea>
							</div>
							<div class="row">
								<div class="col-md-8">
									<div class="checkbox">
										<label> <input type="checkbox"> Subscribe to updates</label>
									</div>
								</div>
								<div class="col-md-4 text-right">
  									<button type="submit" class="btn btn-action">Submit</button>
								</div>
                            </div>
					     	</form>
                        </div>
					{% endif %}
				</div>
			</div>
		</div> <!-- /row comments -->
		<div class="clearfix"></div>
</main>


{% endblock %}