{% extends 'layout/layout.html' %}
{% load static %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">catagorize</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% for item in catagorizes  %}
        <a  href="articles/search?q={{ item.catagorizes }}" class="d-block p-4 text-decoration-none text-capitalize">{{ item.catagorizes }}</a>
      {% endfor %}
  </div>
</div>
<main id="main">
  <form action="/articles/search">

    </form>
	<div class="container">

		<div class="row section topspace">
			<div class="col-md-12">
				<p class="lead text-center text-muted">Let me tell you something my friend. hope is a dangerous thing. hope can drive a man insane. you <a href="about.html">measure</a> yourself by the people who measure themselves by you. it only took me <a href="sidebar-right.html">six days</a>. </p>
			</div>
		</div> <!-- / section -->


		<div class="row section featured topspace">
			<h2 class="section-title"><span>Last Articles</span></h2>
			<div class="row">
			{% for card in articles %}
                	<div class="col-sm-6 col-md-3">
					<h3 class="text-center">{{ card.title }}</h3>
					<p>{{ card.paragraph }}</p>
					<p>{{ card.date|timesince }}</p>
					<p class="text-center"><a href="articles/{{ card.id }}" class="btn btn-action">Read more</a></p>
				</div>
            {% endfor %}

			</div>
		</div> <!-- / section -->
     <a href="/articles" class="bg-danger px-3 py-1 text-light d-block text-center w-25 mx-auto ">more</a>

		{% for list in list_categorize %}
            <h2 class="section-title"></h2>
            <div class="row section recentworks topspace">
                {% for card in list %}
                    <div class="col-sm-6 col-md-3">
                    {% if forloop.counter == 1 %}
                    <h4 style="display: block" class="text-uppercase mb-5 px-4 py-1 text-light w-100 text-center bg-success">{{ card.catagorize.catagorizes }}</h4>
                     {% else %}
                    <h4 style="" class="mb-5 px-4 py-1 text-light  opacity-0">{{ card.catagorize.catagorizes }}</h4>
                     {% endif %}
					<h3 class="text-center">{{ card.title }}</h3>
					<p>{{ card.paragraph }}</p>


					<p>{{ card.date|timesince }}</p>
					<p class="text-center"><a href="articles/{{ card.id }}" class="btn btn-action">Read more</a></p>
				</div>
            {% endfor %}
		    </div>
            <hr>
       {% endfor %}
	</div>	<!-- /container -->

</main>

{% endblock %}