{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title style="text-transform: uppercase">{% block title %}{% endblock %}</title>

	<link rel="shortcut icon" href="{% static 'images/gt_favicon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<!-- Bootstrap -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href={% static "css/styles.css" %}>

</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
 <form action="/articles/search">
    <input class="form-control my-3 w-75 mx-auto d-block" name="q"  type="search" placeholder="Search">

    </form>
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="{%static 'images/guy.jpg'%}" alt="">
			<span class="title">{{ user.username }}</span>
			<span class="tagline"><span>{{ user.first_name }}</span> <span class="mx-3">{{ user.last_name }}</span><br>
				<a href="">{{ user.email }}</a></span>
		</h1>
        {% if user.is_authenticated %}
            <a href="logout" class=" btn bg-primary px-5 py-2 m-4 mx-auto w-25 d-block text-light ">logout</a>
        {% else %}
            <a href="/login" class=" btn bg-success px-5 py-2 m-4 mx-auto w-25 d-block text-light ">login</a>
            <a href="/register" class=" btn bg-dark px-5 py-2 m-4 mx-auto w-25 d-block text-light ">register</a>
        {% endif %}
	</div>

	<div class="d-flex flex-column flex-md-row bg-light mb-4 top-0" style="position: sticky!important;">
        <a class="flex-grow-1 px-4 py-4 text-mute text-center" href="/">Home</a>
        <a class="flex-grow-1 px-4 py-4 text-mute text-center" href="#offcanvas" data-bs-toggle="offcanvas">Catagorizes</a></li>
        <a class="flex-grow-1 px-4 py-4 text-mute text-center" href="about.html">About</a>
        <a class="flex-grow-1 px-4 py-4 text-mute text-center" href="blog.html">Blog</a>
	</div>
</header>
{% block content %}

{% endblock %}
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
					<p>+234 23 9873237<br>
						<a href="mailto:#">some.email@somewhere.com</a><br>
						<br>
						234 Hidden Pond Road, Ashland City, TN 37015
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Text widget</h3>
				<div class="widget-body">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, nihil natus explicabo ipsum quia iste aliquid repellat eveniet velit ipsa sunt libero sed aperiam id soluta officia asperiores adipisci maxime!</p>
				</div>
			</div>

			<div class="col-md-3 widget">
				<h3 class="widget-title">Form widget</h3>
				<div class="widget-body">
					<p>+234 23 9873237<br>
						<a href="mailto:#">some.email@somewhere.com</a><br>
						<br>
						234 Hidden Pond Road, Ashland City, TN 37015
					</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>234 Hidden Pond Road, Ashland City, TN 37015 </p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2014, Your awesome name here<br>
						Design: <a href="http://www.gettemplate.com" rel="designer">Initio by GetTemplate</a> </p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>
	<script src={% static "js/html5shiv.js" %}></script> <![endif]-->
	<script src={% static "js/template.js" %}></script> <![endif]-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
